@import url(https://fonts.googleapis.com/css?family=Plus+Jakarta+Sans:200,300,regular,500,600,700,800,200italic,300italic,italic,500italic,600italic,700italic,800italic);


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #ffffff;
    font-family:"Plus Jakarta Sans", sans-serif ;
    line-height: 3rem;
}


.container {
  width: 100%;            /* Full width by default */
  max-width: 1200px;      /* Limit the maximum width */
  margin: 0 auto;         /* Center it horizontally */
  padding: 0 16px;        /* Padding for smaller screens */
  box-sizing: border-box; /* Include padding in total width */
}

.paragraph-w {
    color: ffffff;
}
.paragraph-b {
    color: #010205;
}

@media (max-width: 768px) {
  .container {
    padding: 0 12px;
  }
}

@media (max-width: 480px) {
  .container {
    padding: 0 8px;
  }
}

/* Blog  */
/* Blog  */
/* Blog  */
/* Blog  */
/* Blog  */
/* Blog  */
/* Blog  */

.blog-heading-section-wrapper {
display: flex;
}
.blog-heading-section-wrapper-right {
    display: flex;
    justify-content: left;
    align-items: flex-start;
}